/* Cambiar tipo de letra para todo*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
  font-family: "Work Sans";
  margin: 0;
  padding: 0;
}

/* Poder scrollear se aplica a todo el HTML */
html {
  /* Permite deslizar cuando hago clic en los links del menu */
  scroll-behavior: smooth;
}

/* Menu Encabezado */
.contenedor-header {
  background: #1e2326;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}

.contenedor-header header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.contenedor-header header .logo a {
  font-family: "Righteous";
  font-size: 36px;
  color: #1cb698;
  text-decoration: none;
}

.contenedor-header header ul {
  display: flex;
  list-style: none;
}

.contenedor-header header nav ul li a {
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: 0.5s;
  text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
  color: #1cb698;
}

.nav-responsive {
  background-color: #1cb698;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

/* Seccion Inicio */
.inicio {
  background: linear-gradient(
      to top,
      rgba(30, 35, 38, 0.8),
      rgba(30, 35, 38, 1)
    ),
    url(./img/fondoinicio.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.inicio .contenido-banner {
  padding: 20px;
  background-color: #1e2326;
  max-width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}

.inicio .contenido-banner img {
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #1cb698;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}

.inicio .contenido-banner h1 {
  margin-top: 40px;
  font-size: 42px;
  font-family: "Righteous";
}

.inicio .contenido-banner h2 {
  font-size: 15px;
  font-weight: normal;
}

.inicio .contenido-banner .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

.inicio .contenido-banner .redes a:hover {
  background-color: #1cb698;
}

/* Seccio Sobre Mí */
.sobremi {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}

.sobremi .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.sobremi h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.sobremi .contenido-seccion p {
  font: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
  color: #1cb698;
  font-weight: bold;
}

.sobremi .fila {
  display: flex;
}

.sobremi .fila .col {
  width: 50%;
}

.sobremi .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}

.sobremi .fila .col ul {
  list-style: none;
}

.sobremi .fila .col ul li {
  margin: 12px 0;
}

.sobremi .fila .col ul li strong {
  display: inline-block;
  color: #1cb698;
  width: 130px;
}

.sobremi .fila .col ul li span {
  background-color: #1cb698;
  padding: 3px;
  font-weight: bold;
  border-radius: 5px;
}

.sobremi .fila .col ul .mail {
  cursor: pointer;
}

.sobremi .fila .col .contenedor-intereses {
  display: flex;
  flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
  width: 100px;
  height: 100px;
  background-color: #252a2e;
  border-radius: 10px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
  background-color: #1cb698;
}

.sobremi .fila .col .contenedor-intereses .interes i {
  font-size: 30px;
  margin-bottom: 10px;
}

.sobremi button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.sobremi a {
  all: unset;
  display: inline-block;
}

.enlace {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sobremi button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
}

.sobremi button:hover .overlay {
  width: 100%;
}

/* Seccion Skills */
.skills {
  background-color: #252a2e;
  color: #fff;
  padding: 50px 20px;
}

.skills .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.skills h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.skills .fila {
  display: flex;
}

.skills .fila .col {
  width: 50%;
  padding: 0 20px;
}

.skills .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}

.skills .skill > span {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.skills .skill .barra-skill {
  height: 8px;
  width: 80%;
  background-color: #131517;
  position: relative;
  margin-bottom: 30px;
}

.skills .skill .progreso {
  background-color: #1cb698;
  position: absolute;
  top: 0;
  left: 0;
  height: 8px;
}

.skills .skill .barra-skill span {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #1cb698;
  border-radius: 50px;
  line-height: 40px;
  text-align: center;
  top: -17px;
  right: -15px;
  font-size: 14px;
}

/* Esta clases se agregaran dinamicamente mediante javascript */
.skills .skill .redes {
  width: 0%;
  animation: 2s redes forwards;
}

@keyframes redes {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skills .skill .sistemas {
  width: 0%;
  animation: 2s sistemas forwards;
}

@keyframes sistemas {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.skills .skill .robotica {
  width: 0%;
  animation: 2s robotica forwards;
}

@keyframes robotica {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.skills .skill .programacion {
  width: 0%;
  animation: 2s programacion forwards;
}

@keyframes programacion {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.skills .skill .ofimaticas {
  width: 0%;
  animation: 2s ofimaticas forwards;
}

@keyframes ofimaticas {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}

.skills .skill .html {
  width: 0%;
  animation: 2s html forwards;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skills .skill .css {
  width: 0%;
  animation: 2s css forwards;
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.skills .skill .php {
  width: 0%;
  animation: 2s php forwards;
}

@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.skills .skill .mysql {
  width: 0%;
  animation: 2s mysql forwards;
}

@keyframes mysql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.skills .skill .javascript {
  width: 0%;
  animation: 2s javascript forwards;
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

/* Seccion Curriculum */
.curriculum {
  background-color: #1e2326;
  color: #fff;
  padding: 50px 20px;
}

.curriculum .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.curriculum h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.curriculum .fila {
  display: flex;
  justify-content: space-between;
}

.curriculum .fila .col {
  width: 49%;
  padding: 0 20px;
}

.curriculum .fila .col h3 {
  font-size: 28px;
  font-family: "Righteous";
  margin-bottom: 25px;
}

.curriculum .fila .izquierda {
  border-right: 2px solid #252a2e;
}

.curriculum .fila .derecha {
  border-right: 2px solid #252a2e;
}

.curriculum .fila .item {
  padding: 25px;
  margin-bottom: 30px;
  background-color: #252a2e;
  position: relative;
}

.curriculum .fila .item der {
  margin-top: 20px;
}

.curriculum .fila .item h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.curriculum .fila .item .casa {
  color: #1cb698;
  font-size: 22px;
  font-weight: bold;
  display: block;
}

.curriculum .fila .item .fecha {
  display: block;
  color: #1cb698;
  margin-bottom: 10px;
}

.curriculum .fila .item p {
  line-height: 24px;
}

.curriculum .fila .izq {
  border-right: 2px solid #1cb698;
  margin-right: 20px;
}

.curriculum .fila .der {
  border-left: 2px solid #1cb698;
  margin-left: 20px;
}

.curriculum .fila .item .conectori {
  height: 2px;
  background-color: #1cb698;
  width: 47px;
  position: absolute;
  top: 50%;
  right: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #1cb698;
  float: right;
  position: relative;
  bottom: 4px;
}

.curriculum .fila .item .conectord {
  height: 2px;
  background-color: #1cb698;
  width: 47px;
  position: absolute;
  top: 50%;
  left: -47px;
  z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #1cb698;
  float: left;
  position: relative;
  bottom: 4px;
}

.curriculum button {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 16px;
  color: #fff;
  position: relative;
  z-index: 10;
}

.curriculum a {
  all: unset;
  display: inline-block;
}

.enlace {
  display: flex;
  justify-content: center;
  width: 100%;
}

.curriculum button .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1cb698;
  z-index: -1;
  transition: 1s;
}

.curriculum button:hover .overlay {
  width: 100%;
}

.aparecerDerecha,
.aparecerIzquierda {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s ease, transform 1s ease;
}

.aparecerIzquierda {
  transform: translateX(50px);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Seccion Mis Proyectos */
.proyectos {
  background-color: #252a2e;
  color: #fff;
  padding: 50px 20px;
}

.proyectos .contenido-seccion {
  max-width: 1100px;
  margin: auto;
}

.proyectos h2 {
  font-size: 48px;
  font-family: "Righteous";
  text-align: center;
  padding: 20px 0;
}

.proyectos .imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.proyectos .imagenes .proyecto {
  position: relative;
  max-width: 350px;
  height: 100%;
  margin: 10px;
  cursor: pointer;
}

.proyectos .imagenes .proyecto img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.proyectos .imagenes .proyecto .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: linear-gradient(rgba(28, 182, 152, 0.8), rgba(28, 182, 152, 0.8));
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
  font-size: 18px;
  letter-spacing: 3px;
  opacity: 0;
  box-sizing: border-box;
}

.proyectos .imagenes .proyecto .overlay h3 {
  margin-bottom: 20px;
  transition: 1s;
  color: #fff;
}

.proyectos .imagenes .proyecto a {
  all: unset;
}

.proyectos .imagenes .proyecto .overlay:hover {
  opacity: 1;
}

.proyectos .imagenes .proyecto .overlay:hover h3 {
  margin-bottom: 0px;
}

.ventana {
  background: linear-gradient(
    to top,
    rgba(30, 35, 38, 0.8),
    rgba(30, 35, 38, 1)
  );
  width: 100vw;
  height: calc(100% - 75px);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 33px;
  border-radius: 22px;
  position: fixed;
  z-index: 50;
  bottom: 0px;
  display: none;
  box-sizing: border-box;
  overflow: auto;
}

.ventana p {
  text-align: justify;
  width: 50%;
}

.ventana p .transversal1 {
  position: absolute;
  margin-left: 141px;
  margin-top: -297px;
  height: 364px;
  width: 30%;
}

.ventana p .video1 {
  margin-top: 73px;
  margin-left: 100px;
  width: 560px;
  height: 315px;
}

.ventana p .word {
  position: absolute;
  margin-left: 230px;
  margin-top: 110px;
}

.ventana p .powerpoint {
  position: absolute;
  margin-left: 650px;
  margin-top: 110px;
}

.ventana p .red {
  position: absolute;
  width: 780px;
  margin-left: 40px;
  margin-top: -1130px;
}

.ventana p .video2 {
  margin-top: -800px;
  margin-left: 955px;
  width: 800px;
  height: 452px;
}

.ventana p .word1 img {
  position: absolute;
  margin-left: 1192px;
  margin-top: -737px;
  height: 287px;
}

.ventana p .robot1 {
  position: absolute;
  margin-left: 351px;
  margin-top: -51px;
  height: 398px;
  width: 30%;
}

.ventana p .video3 {
  margin-top: -439px;
  position: absolute;
  margin-left: 292px;
  width: 764px;
  height: 406px;
}

.ventana p .word2 img {
  position: absolute;
  margin-left: -436px;
  margin-top: 49px;
  height: 287px;
}

.ventana p .video4 {
  margin-top: -271px;
  position: absolute;
  margin-left: 227px;
  width: 764px;
  height: 406px;
}

.ventana p .video5 {
  margin-top: 142px;
  position: absolute;
  margin-left: 227px;
  width: 730px;
  height: 366px;
}

.ventana p .video6 {
  margin-top: 70px;
  position: absolute;
  margin-left: -538px;
  width: 730px;
  height: 366px;
}

.ventana p .word4 img {
  position: absolute;
  margin-left: -735px;
  margin-top: 60px;
  height: 170px;
}

.ventana p .power4 img {
  position: absolute;
  margin-left: -735px;
  margin-top: 250px;
  height: 170px;
}

#cerrar {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 10px;
  left: 93%;
}

/* Seccion Mi valor En Una Empresa */

.slider- {
  display: flex;
  gap: 10px;
  background-color: #1e2326;
}

.sliderPunto {
  margin-top: 5%;
  border: 2px solid white;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.sliderPunto:nth-child(1) {
  margin-left: 45%;
}

.sliderPunto:nth-child(5) {
  display: none;
}

.slider- .sliderPunto.activo {
  background-color: white;
  border: none;
}

/* Estilos para los botones de flecha */
.boton-izquierda,
.boton-derecha {
  position: absolute;
  top: 569%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.boton-izquierda {
  left: 10px;
}

.boton-derecha {
  right: 10px;
}

.contenedor {
  width: 100%;
  overflow: hidden;
}

.slider-contenedor {
  width: 100%;
  display: flex;
}

.contenido-slider {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}

.contenido-slider:nth-child(1) {
  font-size: 20px;
  background: #1e2326;
  color: #fff;
}

.contenido-slider:nth-child(2) {
  font-size: 20px;
  background: #1e2326;
  color: #fff;
}

.contenido-slider:nth-child(3) {
  font-size: 20px;
  background: #1e2326;
  color: #fff;
}

.contenido-slider:nth-child(4) {
  font-size: 20px;
  background: #1e2326;
  color: #fff;
}

.contenido-slider:nth-child(5) {
  font-size: 20px;
  background: #1e2326;
  color: #fff;
}

.contenido-slider > section {
  width: 40%;
}

.contenido-slider h4 {
  font-size: 48px;
  font-weight: 300;
  text-align: justify;
  font-family: "Righteous";
  line-height: 30px;
}

.contenido-slider h1 {
  color: #fff;
  background-color: #332863;
  width: 100px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border-radius: 3px;
  margin-top: 20px;
  text-decoration: none;
}

/* Footer */
footer {
  background-color: #252a2e;
  color: #fff;
  padding: 50px 0 30px 0;
  text-align: center;
  position: relative;
  width: 100%;
}

footer .redes {
  margin-bottom: 20px;
}

footer .redes a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: 0.3s;
}

footer .arriba {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #1cb698;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

/* Seccion Responsive */
@media screen and (max-width: 980px) {
  nav {
    display: none;
  }
  .nav-responsive {
    display: block;
  }
  nav.responsive {
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: #1e2326;
    width: 180px;
  }
  nav.responsive ul {
    display: block !important;
  }
  nav.responsive ul li {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
  }
  .contenido-slider > div {
    width: 40%;
  }
  .contenido-slider h4 {
    font-size: 23px;
  }
}

@media screen and (max-width: 700px) {
  .sobremi .fila {
    display: block;
  }
  .sobremi .fila .col {
    width: fit-content;
  }

  .skills .fila {
    display: block;
  }
  .skills .fila .col {
    width: 100%;
  }
  .skills .fila .col .barra-skill {
    width: 100%;
  }

  .curriculum .fila {
    display: block;
  }
  .curriculum .fila .col {
    width: 90%;
  }
  .curriculum .fila .derecha {
    margin-left: 20px;
  }

  .contacto .fila {
    display: block;
  }
  .contacto .fila .col {
    width: 100%;
  }
}
